{{#each errores}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="col-md-6 mx-auto">
    <div class="card border-secondary">
        <div class="card-header bg-secondary">
            <h3>Editar Joya</h3>
        </div>
        <div class="card-body">
            <form action="/notes/editar-nota/{{_id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group mb-3">
                <input type="text" name="titulo" class="form-control" placeholder="Titulo" autofocus="" value="{{titulo}}">
            </div>
            <div class="form-group mb-3">
                <textarea name="descripcion" class="form-control" placeholder="Descripcion" >{{descripcion}}</textarea>

            </div>
            <div class="form-group mb-3">
                <input type="number" name="precio" class="form-control" placeholder="Precio" value="{{precio}}">
            </div>

            <div class="form-group d-grid gap-2">
                <button class="btn btn-outline-secondary" type="submit">
                    Actualizar
                </button>

            </div>
            </form>
        </div>
    </div>
</div>